@font-face
{
  font-family: "JetBrainsMono";
  src: url("./fonts/JetBrainsMono-Regular.woff2");
  font-weight: normal;
}
@font-face
{
  font-family: "JetBrainsMono";
  src: url("./fonts/JetBrainsMono-Bold.woff2");
  font-weight: bold;
}
@font-face
{
  font-family: "JetBrainsMono";
  src: url("./fonts/JetBrainsMono-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

:root 
{
  font-family: "JetBrainsMono", "Courier New", monospace;
  font-weight: normal;
  font-size: 12px;
}
body
{
  background: url("./images/background.png");
  color: #fe9f1b;

}

h1
{
  font-family: "JetBrainsMono", "Courier New", monospace;
  font-size: 40px;
  font-weight: Bold;
}

.main-container 
{
  display: flex;
  gap: 1rem;
}
.sidebar
{
  background: #261808;
  border: 0.25rem solid #fe9f1b ;
  width: 25%;
  min-height: 98vh;
}

.form 
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.first-row, .second-row, .third-row/*, .text-box*/
{
  display: flex;
  justify-content: space-evenly;
}
