@font-face
{
  font-family: "JetBrainsMono";
  src: url("./fonts/JetBrainsMono-Regular.woff2");
  font-weight: normal;
}
@font-face
{
  font-family: "JetBrainsMono";
  src: url("./fonts/JetBrainsMono-Bold.woff2");
  font-weight: bold;
}
@font-face
{
  font-family: "JetBrainsMono";
  src: url("./fonts/JetBrainsMono-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

:root 
{
  font-family: "JetBrainsMono", "Courier New", monospace;
  font-weight: 600; 
  font-size: 20px;
}
body
{
  background: url("./images/background.png");
  color: #fe9f1b;
}

h1
{
  font-family: "JetBrainsMono", "Courier New", monospace;
  font-size: 40px;
  font-weight: Bold;
}


input,
textarea,
button
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input
{
  width: 15rem;
  height: 2rem;
  
  appearance: none;
  color: #fe9f1b;
  background: #261808;
  border: #fe9f1b 2px solid;
}
textarea
{
  width: 40rem;
  height: 10rem;
  
  appearance: none;
  color: #fe9f1b;
  background: #261808;
  border: #fe9f1b 2px solid;
}
textarea:focus
{
  border: #fe9f1b 2px solid;
}
label 
{
  padding-bottom: 0.5rem;
}


.main-container 
{
  display: flex;
  gap: 2rem;
}
.sidebar
{
  background: #261808;
  border: 0.10rem solid #fe9f1b ;
  width: 25%;
  min-height: 98vh;
}

.input-field
{
  display: flex;
  flex-direction: column;
}

.form 
{
  flex-shrink: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 5rem;
  min-width: 70vw;
  gap: 5rem;
}
.first-row, .second-row, .third-row, .text-box
{
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding-bottom: 4rem;
}

.submit-btn
{
  display: flex;
  flex-direction: row;
}
button
{
  align-self: flex-end;
}
